@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--color-brand-light: oklch(96.509% 0.00976 253.021);
	--color-brand-dark: oklch(45.708% 0.01583 251.78);

	--font-sans: 'Inter', sans-serif;
}
